@page
@model MyEshop.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin Page";
}

<h1>لیست کالا ها</h1>
<hr />
<p>
    <a asp-page="Add" class="button1">افزودن</a>
</p>
<table>
    <thead>
        <tr>
            <th>تصویر</th>
            <th>نام</th>
            <th>قیمت</th>
            <th>دستورات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    <img src="~/images/@(item.Id).jpg" class="product" alt="@item.Name">
                </td>
                <td>@item.Name</td>
                <td>@item.Item.Price</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@item.Id">ویرایش</a>
                    <a asp-page="Delete" asp-route-id="@item.Id">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
